{% extends 'dalam.jade' %} 
{% block isi %}
.row-fluid
	.span8
		h1 {{ pelanggan.nama.title }}
		h1
			small Pelanggan
		| Sejak {{ pelanggan.dibuat }}
		.well
			h4 Peminjaman
			form(method="post", action="")
				{% csrf_token %}
				button.btn(type="submit") Peminjaman Baru

		h4 Catatan Peminjaman

		{% for peminjaman in catatan_peminjaman %}
		p {{ peminjaman.0.peminjaman.mulai }}
		ul
			{% for ai in peminjaman %}
			li 
				| {{ ai.item.jenis.nama }}  
				a(href="{{ ai.item.get_absolute_url }}")
					{{ ai.item.nama }}
			{% endfor %}
		{% endfor %}

		{% if not catatan_peminjaman %}
		p.strong Belum ada catatan
		{% endif %}


	.span4

		.well
			h4 Data Pelanggan
			strong Telepon:
			p {{ pelanggan.telepon }}
			strong Alamat:
			p {{ pelanggaen.alamat }}
			strong Email:
			p {{ pelanggan.email }}
			strong ID:
			p {{ pelanggan.jenis_ID }}: {{ pelanggan.nomor_ID }}
			strong Keterangan:
			p {{ pelanggan.keterangan }}
			form(action="ubah")
				fieldset
					Button Ubah Data



{% endblock isi %}