{% extends 'dalam.jade' %} 
{% block isi %}
.row-fluid
	.span8
		h1 {{ pelanggan.nama.title }}
		h1
			small Pelanggan
		.well
			h4 Peminjaman
			form(method="post", action="")
				{% csrf_token %}
				button.btn(type="submit") Peminjaman Baru

		h4 Catatan Peminjaman

		{% for peminjaman in catatan_peminjaman %}
		p {{ peminjaman.0.peminjaman.mulai }}
		ul
			{% for ai in peminjaman %}
			li {{ ai.item.nama }}
			{% endfor %}
		{% endfor %}


	.span4

		.well
			h4 Data Pelanggan
			strong Telepon:
			p 08889997766
			strong Alamat:
			p Jalan Kebun Manggis 2 Jakarta Selatan
			form(action="ubah")
				fieldset
					Button Ubah Data



{% endblock isi %}