{% extends 'dalam.jade' %} 
{% load crispy_forms_tags %}
{% block isi %}
.row-fluid
	.span8
		h1 {{ pelanggan.nama }}
		h1
			small Ubah Data
		.input-block-level
			{% crispy form %}




{% endblock isi %}