{% extends 'dalam.jade' %} 
{% block isi %}
h1 Laut Lepas
	small Kategori
.well
	h3 Kategori Baru
	form
		fieldset
			input(type="text", placeholder="Nama")
			br
			button.btn(type="submit") Tambah Kategori

h4 Daftar Kategori
ul
	{% for k in kategori %}
	li
		a(href=k.slug+"/") {{ k.nama.title }}
	{% endfor %}

{% endblock isi %}