{% extends 'dalam.jade' %} 
{% block isi %}
h1 {{ toko.nama }}
	small Kategori
.well
	h3 Kategori Baru
	form(action="", method="post")
		{% csrf_token %}
		fieldset
			input#id_nama(name="nama",type="text", placeholder="Nama")
			br
			button.btn(type="submit") Tambah Kategori

h4 Daftar Kategori
ul
	{% for k in kategori %}
	li
		a(href=k.slug+"/") {{ k.nama.title }}
	{% endfor %}

{% endblock isi %}