{% extends 'dalam.jade' %} 
{% block isi %}
.row-fluid
	.span8
		h1 {{ item.nama }}
		h1
			small {{ jenis.nama }}

		h4 Pesanan
		{% for pe in pesanan %}
		{{ pe.pelanggan.nama }}
		br 
		a(href="{{ pe.get_absolute_url }}")
			{{ pe.awal }} - {{ pe.akhir }}
		br
		br
		{% empty %}
		em Tidak ada pesanan
		{% endfor %}
	.span4
		.well
			h4 Data
			| Tersedia sejak
			p {{ item.didaftar|date:"d M Y" }}
			| Status

		.well
			h4 Hapus
			form(action="", method="post")
				{% csrf_token %}
				button.btn.btn-danger(type="submit", name="submit", value="hapus") Hapus Item

{% endblock isi %}