{% extends 'dalam.jade' %} 
{% block isi %}
.row-fluid
	.span12
		h1 Canon EOS 600 D
		h1
			small Daftar Item
		.well
			h4 Tambah Item
			form
				input(type="text", placeholder="Nomor Seri")
				br
				button.btn Item Baru

		h4 Daftar Item
		
		p 
			a(href="can0002/") can0002
		ul
			li Status: Tersedia
			li Dipinjam: 2 x
			button.btn Masukkan keranjang	
		hr
		p 
			a(href="can0001/") can0001
		ul
			li Status: Dipinjam
			li Kembali: 15 Mei 2013
			li Dipinjam: 1 x	
		hr
{% endblock isi %}