{% extends 'dalam.jade' %} 
{% block isi %}
h1 Kamera
	small Kategori
.well
	h3 Model Baru
	form(action="", method="post")
		{% csrf_token %}
		fieldset
			input#id_nama(name="nama",type="text", placeholder="Nama")
			br
			button.btn(type="submit") Tambah Model

h4 Daftar Model
ul
	{% for j in jenis %}
	li
		a(href="{{ j.slug }}/") {{ j.nama }}
	{% endfor %}

{% endblock isi %}