{% extends 'dalam.jade' %} 
{% block isi %}
h1 Laut Lepas
	small Peminjaman

h4 Peminjaman Pekan Ini
ul
	{% for p in peminjaman %}
	li 
		a(href="{{ p.get_absolute_url }}")
			| {{ p }}
	{% endfor %}



{% endblock isi %}