{% extends 'dalam.jade' %}

{% block isi %}

h1 {{ objek_cari }}
p Pencarian {{ kolom_cari }}: {{ q }}
{% for c in cocok %}
a(href="{{ c.get_absolute_url }}") {{ c }}

{% empty %}
em Tidak ada yang cocok.

{% endfor %}

{% endblock isi %}