{% extends 'dasar.jade' %}

{% block isi_navbar %}
.nav-collapse
	.dropdown.pull-right
		a.btn.dropdown-toggle(data-toggle="dropdown", href="#") {{ request.user.email }}
			span.caret
		ul.dropdown-menu(role="menu", aria-labelledby="dlabel")
			li 
				a(href = "/logout/") Logout
{% endblock isi_navbar %}

{% block badan %}
.container-fluid
	.row-fluid
		.span3		
			{% block kiri %}
			.well
				h4 Terakhir dilihat:
				| Pelanggan
				br
				[daftar pelanggan]
				br
				br
				| Katalog
				br
				[daftar item]
			{% endblock kiri %}
		.span8
			{% block isi %}{% endblock isi %}


{% block skrip %}
script(type="text/javascript", src="{{ STATIC_URL }}js/jquery-1.9.1.min.js")
script(type="text/javascript", src="{{ STATIC_URL }}js/bootstrap.min.js")

{% endblock skrip %}
{% endblock badan %}