{% extends 'dasar.jade' %}
{% load keranjang_tags %}


{% block isi_navbar %}
.nav-collapse
	.dropdown.pull-right
		a.btn.dropdown-toggle(data-toggle="dropdown", href="#") {{ request.user.email }}
			span.caret
		ul.dropdown-menu(role="menu", aria-labelledby="dlabel")
			li 
				a(href = "/logout/") Logout
	ul.nav.pull-right
		li 
			{% link_keranjang request toko %}
	
{% endblock isi_navbar %}

{% block badan %}
.container-fluid
	.row-fluid
		.span3		
			{% block kiri %}
			.well
				h4 Terakhir dilihat:
				a(href="{% url 'pelanggan_depan' toko.slug %}") 
					| Pelanggan
				br
				[daftar pelanggan]
				br
				br
				a(href="{% url 'katalog_depan' toko.slug %}")
					| Katalog
				br
				[daftar item]
				br
				br
				a(href="{% url 'peminjaman_daftar' toko.slug %}")
					| Peminjaman
				br
				br
				a(href="{% url 'pesanan_lihat' toko.slug %}")
					| Pesanan
			{% endblock kiri %}
		.span8
			{% block isi %}{% endblock isi %}


{% block skrip %}
script(type="text/javascript", src="{{ STATIC_URL }}js/jquery-1.9.1.min.js")
script(type="text/javascript", src="{{ STATIC_URL }}js/bootstrap.min.js")

{% endblock skrip %}
{% endblock badan %}