{% extends 'dalam.jade' %}

{% block isi %}
.page-header
	h1 {{ toko.nama }} 
		small Halaman depan

h3 Kelola:
.btn-group
	.btn.btn-large
		a(href="pelanggan/") Pelanggan
	.btn.btn-large 
		a(href="katalog/") Katalog
	.btn.btn-large 
		a(href="peminjaman/") Peminjaman

{% endblock isi %}